<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <title>pastechat.com</title>
  <link type="text/css" rel="stylesheet" href="css/screen.css">

  <script type="text/html" id="message">
    <li><strong><%=user%>:</strong> <%=text%></li>
  </script>

  <script type="text/html" id="join_message">
    <li><em><%=user.name%> has entered the room</em></li>
  </script>

  <script type="text/html" id="leave_message">
    <li><em><%=user.name%> has left the room</em></li>
  </script>

  <script type="text/html" id="topic_message">
    <li><em><%=user%> changed the channel topic to "<%=text%>"</em></li>
  </script>

  <script type="text/html" id="rename_message">
    <li><em><%=oldName%> changed his name to "<%=newName%>"</em></li>
  </script>

  <script type="text/html" id="user">
    <li rel="<%=client_id%>"><%=name%> <% if (isSelf) {%><a href="#edit">edit</a><%}%></li>
  </script>

  <script type="text/html" id="faildog">
    <p class="error"><%= error %></p>
    <img src="<%=faildog%>">
  </script>

  <script type="text/html" id="join_modal">
    <div class="modal join_modal">
      <form>
        <label for="chat-name">Your Name:</label>
        <input type="text" id="chat-name">
        <button><%=button%></button>
      </form>
      <span style="display: none;">Joining Room</span>
    </div>
  </script>

  <script type="text/html" id="topic_modal">
    <div class="modal topic_modal">
      <form>
        <label for="topic">Topic:</label>
        <input type="text" id="topic">
        <button>Set Topic</button>
      </form>
    </div>
  </script>

  <script type="text/html" id="error_modal">
    <div class="modal error_modal">
      <span class="error"><strong>Error:</strong> <%= error %></span>
    </div>
  </script>

  <script type="text/html" id="wait_modal">
    <div class="modal wait_modal">
      <span><%= text %></span>
    </div>
  </script>

  <script type="text/html" id="chat">
    <div class="chat">
      <div class="left">
        <div class="header">
          <h1>Your room</h1>
          <a href="#edit">edit</a>
        </div>
        <ul class="log">
        </ul>
        <div class="message">
          <textarea name="message"></textarea>
          <button>Send Message</button>
        </div>
      </div>
      <div class="right">
        <h2>Attending</h2>
        <ul>
        </ul>
        <p><a href="#invite">Invite People</a> <a href="#invite">Get your own Room!</a></p>
      </div>
    </div>
  </script>
</head>
<body>
  <div class="home">
    <h1>pastechat.com</h1>
    <p>Temporary chat rooms, whenever you need them.</p>
    <button>Create Room</button>
  </div>

  <script type="text/javascript" src="../../dep/jquery.js"></script>
  <script type="text/javascript" src="../../dep/jquery.jsonp.js"></script>
  <script type="text/javascript" src="../../dep/jquery.cookie.js"></script>
  <script type="text/javascript" src="../../dep/json2.js"></script>
  <script type="text/javascript" src="../../lib/jquery.node-channel.js"></script>

  <script type="text/javascript" src="js/dep/misc.js"></script>
  <script type="text/javascript" src="js/dep/jquery.tools.js"></script>
  <script type="text/javascript" src="js/dep/jquery.scrollTo.js"></script>
  <script type="text/javascript" src="js/dep/underscore.js"></script>

  <script type="text/javascript" src="js/lib/home.js"></script>
  <script type="text/javascript" src="js/lib/chat.js"></script>
  <script type="text/javascript" src="js/lib/user.js"></script>

  <script type="text/javascript" src="js/lib/ui/home_ui.js"></script>
  <script type="text/javascript" src="js/lib/ui/chat_ui.js"></script>
</body>
</html>