h1{
    font-size: 25px;
    font-family: Arial;
    color: #51A6DF;
}

.error{color: #f00;}

.hidden{
    display: none;
}

.chat{
    float: left;
}

.chat .left{
    float: left;
    padding: 20px;
    width: 600px;
}

.chat .right{
    float: left;
    width: 170px;
}

.chat .header{
    margin: 0 0 10px 0;
    float: left;
    clear: both;
}

.chat .header a{
    float: left;
    clear: both;
    margin: 0 0 10px 0;
}

.chat .header label{
    clear: left;
    float: left;
    margin: 2px 0 0 0;
    width: 54px;
}

.chat .header input{
    width: 540px;
}

.chat .header input, .chat .header label{
    float: left;
}

.chat ul{
    margin: 0 0 10px 0;
    padding: 0;
    float: left;
    clear: both;
}

.chat ul li{
    list-style-type: none;
}

.chat .message{
    float: left;
    clear: both;
    position: fixed;
    bottom: 20px;
}

.chat textarea{
    width: 600px;
    margin: 0 10px 0 0;
}

.chat textarea, .chat button{
    float: left;
}
